$colourSky: rgb(224,234,242);
$colourSea: rgb(136,209,214);
$colourNavy: rgb(70,74,145);
$colourGold: rgb(248,193,32);
$colourGold20: rgba(248,193,32, 0.2);
$colourGold50: rgba(248,193,32, 0.5);
$colourGold60: rgba(248,193,32, 0.6);
$colourGold70: rgba(248,193,32, 0.7);
$colourPink: rgb(249,130,118);
$colourBlossom: rgb(245,183,186);

$colourWhite: rgba(255,255,255,1);
$colourWhiteAlpha2: rgba(255,255,255,0.2);
$colourWhiteAlpha5: rgba(255,255,255,0.5);
$colourWhiteAlpha7: rgba(255,255,255,0.7);
$colourWhiteAlpha8: rgba(255,255,255,0.8);
$colourWhiteAlpha9: rgba(255,255,255,0.9);
$colourBlackAlpha2: rgba(0,0,0,0.2);
$colourBlackAlpha5: rgba(0,0,0,0.5);
$colourBlackAlpha8: rgba(0,0,0,0.8);
$colourBlackAlpha9: rgba(0,0,0,0.9);

$backImg1: url('../assets/background1_1024w768h.png');
$backImg2: url('../assets/background2_1024w768h.png');
$backImg_rabbits: url('https://res.cloudinary.com/vli/image/upload/v1717624556/smelly-earnie/example/background-rabbits_1000w1000h.png');
$backImg_horses: url('https://res.cloudinary.com/vli/image/upload/v1717624555/smelly-earnie/example/background-horses_1000w1000h.png');