$splashMargin: 1.5em;

* {
  margin: 0;
  padding: 0;
}

.wrapper {
  margin-top: $navbarHeight;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
}

// .hide {
//   display: none;
// }

a {
  text-decoration: none;

}

a:link,
a:hover,
a:visited {
  color: inherit;
}

// .hover,
// .no-hover:hover {
//   display: hide;
// }

// .no-hover,
// .hover:hover {
//   display: content;
// }