// #root,
// body,
* {
  margin: 0;
  padding: 0;
}

.wrapper {
  margin-top: $navbarHeight;
  max-width: 800px;
  // min-width: 80vw;
  padding: 0 1.5em;

  top: 0;
  margin: 0 auto;
  // background-color: red;
}

header {
  margin: 1.5em 0;
}

.hide {
  display: none;
}

a {
  text-decoration: none;

}

a:link,
a:hover,
a:visited {
  color: inherit;
}

.account-delete {
  color: $colourBlossom;
  position: absolute;
  bottom: 2em;

}
// .hover,
// .no-hover:hover {
//   display: hide;
// }

// .no-hover,
// .hover:hover {
//   display: content;
// }