@import url('https://fonts.googleapis.com/css2?family=Kablammo&family=Staatliches&family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap');

body {
  font-family: "Zen Maru Gothic", serif;
  font-size: 16px;
    font-weight: 500;
  font-style: normal;
  }

  h1 {
  font-family: "Staatliches", sans-serif;
  font-weight: 400;
  font-style: normal;
  }

  .fancy {
  font-family: "Kablammo", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "MORF" 0;
  }
// <link rel="preconnect" href="https://fonts.googleapis.com">
// <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
// <link href="https://fonts.googleapis.com/css2?family=Kablammo&family=Staatliches&family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap" rel="stylesheet">

// body
// .zen-maru-gothic {
//   font-family: "Zen Maru Gothic", serif;
//   font-weight: 300;
//   font-weight: 400;
//   font-weight: 500;
//   font-weight: 700;
//   font-weight: 900;
//   font-style: normal;
// }

// head caps
// .staatliches-regular {
//   font-family: "Staatliches", sans-serif;
//   font-weight: 400;
//   font-style: normal;
// }

// display
// <uniquifier>: Use a unique and descriptive class name
// .kablammo-<uniquifier> {
//   font-family: "Kablammo", system-ui;
//   font-family: "Kablammo", serif;
//   font-optical-sizing: auto;
//   font-weight: 400;
//   font-style: normal;
//   font-variation-settings:
//     "MORF" 0;
// }