// FORMS

// image preview in image upload form
// .upload-thumbnail {
// }

// error messages in forms
// .error {
// }

// span for asterisk required field
// .required {
// }

// div.login, div.register

//? COMMON

.error {
  color: $colourPink;
  display: block;
  font-size: 1.1em;
  font-style: italic;
  font-weight: 700;
  text-align: center;
}

input,
button {
  outline: 0;
  border: 0;
  display: block;
  margin: 0 auto;
}

button {
  padding: 0.6em 2em;
  border-radius: 0.5em;
  cursor: pointer;
}

// Button Interactive Effects
button {
  opacity: 0.8;
}

button:hover {
  opacity: 1;
}

//? AUTH FORM -- COMMON

// FLEX C

// .auth-form,
#login,
#register {
  display: flex;
  // flex-direction: column;
  // justify-content: center;
  align-content: center;
  
}

.auth-form {
  flex-direction: column;
}

// LAYOUT ITEMS

.register.wrapper,
.login.wrapper {
  margin-top: 0;
}

#login,
#register {
  background-image: $backImg1;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - $splashMargin*2);
  box-sizing: border-box;
  // padding: 100px;
  margin: $splashMargin;

  .label-text,
  .label-email,
  .label-password {
    display: none;
  }
}

.auth-form {
  background-color: $colourWhiteAlpha9;
  // background-color: $colourSky;
  // min-height: 40vh;
  max-height: 80vh;
  min-width: 40vw;
  max-width: 70vw;
  text-align: center;
  // margin-top: 10vh;

  img.logo {
    // min-width: 30vh;
    // width: 80vw;
    padding: 1.5em;
    width: 30vw;
    height: 15vh;
    // width:200px;
    margin: 0 auto;
    // background-color: red;
  }

  button,
  input {

    text-align: center;
    margin-top: 1.5em;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  button {
    // height: 3em;
    // margin-top: 1em;
    margin-bottom: 1.5em;
  }

  .input-email,
  .input-password,
  .input-text {
    width: 70%;
    height: 2.5em;
    // margin-top: 2em;
    // margin-bottom: 0.5em;
  }

}

.auth-form-errors {
  max-width: 50vh;
  text-align: center;
  min-height: 3em;
}


//? AUTH FORM -- LOGIN

div.login {
  background-color: $colourSea;
}

#login {
  input {
    background-color: $colourSky;
  }

  button {
    background-color: $colourGold;
  }
}

//? AUTH FORM -- REGISTER

div.register {
  background-color: $colourGold;
}

#register {
  input {
    background-color: $colourGold50;
  }

  button {
    background-color: $colourSea;
  }
}

// .label-checkbox,
.input-checkbox {
  // display: block;
  display: inline-block;
  margin-right: 1em;
  // height: 2.5em;
}

