// FORMS

// image preview in image upload form
// .upload-thumbnail {
// }

// error messages in forms
// .error {
// }

// span for asterisk required field
// .required {
// }

// div.login, div.register

//? COMMON

.error {
  color: $colourPink;
  display: block;
  font-size: 1.1em;
  // font-style: italic;
  font-weight: 700;
  text-align: center;
}

input,
button {
  outline: 0;
  border: 0;
  display: block;
  margin: 0 auto;
}

input {
  padding: 0.6em;
}

button {
  padding: 0.6em 2em;
  border-radius: 0.5em;
  cursor: pointer;
}

// Button Interactive Effects
button {
  opacity: 0.8;
}

button:hover {
  opacity: 1;
}


//? CLOUDINARY UPLOAD

//! MOVE
$imgUploadPreviewSize: 100px;
$imgUploadFieldWidth: 300px;
$imgUploadFieldHeight: 200px;

.upload-field {
  text-align: center;
  border-top: 2px dotted $colourWhiteAlpha5;
  border-bottom: 2px dotted $colourWhiteAlpha5;
  position: relative;
  width: $imgUploadFieldWidth;
  height: $imgUploadFieldHeight;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 0.5em;
  overflow: visible;

  input {
    margin: 0;
    padding: 0;

  }

  p {
    align-self: flex-start;
  }

  img {
    display: block;
    // margin: 0 auto;
    background-color: white;
    position: absolute;
    // width: 100%;
    width: $imgUploadPreviewSize;
    top: 2.5em;
    // left: calc(($imgUploadFieldWidth - $imgUploadPreviewSize) / 2)
    left: 1.2em;
    // margin-top: 2em;
    // width: $imgUploadPreview;
  }

  .upload-preview-img {
    opacity: 0.5;
    background-color: transparent;
    border: 6px solid $colourBlackAlpha8;
    box-sizing: border-box;
    // z-index: 0;
  }

}

//? AUTH FORM -- COMMON

// FLEX C

#login form,
#register form,
#login,
#register {
  display: flex;
  justify-content: center;
  align-content: center;

}

#login form,
#register form {
  flex-direction: column;
}

// LAYOUT ITEMS

.register.wrapper,
.login.wrapper {
  // margin: 0;
  padding: 0;
  height: 100vh;
  position: absolute;
  min-width: 100vw;
  // top:0;
  //   left:0;
}

#login,
#register {
  background-image: $backImg1;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - $splashMargin*2);
  box-sizing: border-box;
  // padding: 100px;
  margin: $splashMargin;

  .label-text,
  .label-email,
  .label-password {
    display: none;
  }
}

.auth-form-container {
  background-color: $colourWhiteAlpha9;
  // background-color: $colourSky;
  // min-height: 40vh;
  max-height: 80vh;
  min-width: 40vw;
  max-width: 70vw;
  text-align: center;
  margin-top: 10vh;

  img.logo {
    // min-width: 30vh;
    // width: 80vw;
    padding: 1.5em;
    width: 30vw;
    height: 15vh;
    // width:200px;
    margin: 0 auto;
    // background-color: red;
  }

  button,
  input {
    text-align: center;
    margin-top: 1.5em;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  button {
    // height: 3em;
    // margin-top: 1em;
    margin-bottom: 1.5em;
  }

  .input-email,
  .input-password,
  .input-text {
    width: 70%;
  }

  aside {
    margin: 2em 1em;
    padding-top: 1em;
    border-top: 1px solid $colourBlackAlpha2;
  }

}

.auth-form-errors {
  padding: 2em;
  max-width: 50vh;
  min-height: 3em;
  text-align: center;
}

//? AUTH FORM -- LOGIN

div.login {
  background-color: $colourSea;
}

#login {
  input {
    background-color: $colourSky;
  }

  button {
    background-color: $colourGold;
  }
}

//? AUTH FORM -- REGISTER

div.register {
  background-color: $colourGold;
}

#register {
  input {
    background-color: $colourGold50;
  }

  button {
    background-color: $colourSea;
  }
}

// .label-checkbox,
.input-checkbox {
  // display: block;
  display: inline-block;
  margin-right: 1em;
  // height: 2.5em;
}

//? GOAL ADD

#profile-group-item-edit,
#profile-item-edit,
#profile-edit,
#profile-group-add,
#task-add-new,
#goal-add-new {
  // background-color: $colourGold50;

  margin-bottom: 3em;

  label,
  input {
    display: block;
  }

  label {
    width: 30%;
    display: inlineblock;
  }

  select {
    outline: none;
    border: 0;
    padding: 1em;
    // margin: 1em;
  }

  select,
  input {
    margin-left: 30%;
    display: block;
    // background-color: red;
    min-width: 30%;

  }

  .form-field-group {
    margin-bottom: 2em;
  }

  .upload-field {
    margin-left: 30%;

    input {
      border: 0;

    }
  }

}

#task-add-new {
  select,
  input {
    border: 3px solid $colourGold50;
  }
}

#goal-add-new {
  select,
  input {
  border: 3px solid $colourSky;
}
}

#profile-group-add {
  select,
  input {
  border: 3px solid $colourPink50;

}
}