
//! TEMPORARY CSS
img {
  width: 100px;
  height: 100px;
}


// YOUNGSTERS

$viewWidthTablet: 1024px;
$viewHeightTablet: 768px;

$heroWidth: 80px;
$heroHeight: 80px;
$heroRadius: 50%;

$audioImgWidth: calc($viewWidthTablet / 4.5);
$audioImgHeight: calc($viewWidthTablet / 4.5);
$heroRadius: 50%;

